div:hover
{
    background: blue;
    width: 250px;
    border-radius: 5px;
}
div:nth-child(3)
{
    color: red;
    font-style: italic;
    font-size: large;
    font-weight: 900;
}
div:nth-child(4)
{
    color: green;
    font-style: Arial;
    font-size: small;
    font-weight: 900;
}
div:nth-child(5)
{
    color: gold;
    font-style: italic;
    font-size: 25px;
    font-weight: 900;
}
div:nth-child(6)
{
    color: maroon;
    font-style: Arial;
    font-size: small;
    font-weight: 900;
}
div:nth-child(7)
{
    color: yellow;
    font-style: italic;
    font-size: 20px;
    font-weight: 900;
}